---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};
---
{% set allPosts = collections.posts | reverse %}
{% set latestPost = allPosts[0] %}

{% if latestPost %}
<article class="featured-post">
	<h2 class="featured-post-title"><a href="{{ latestPost.url }}">{{ latestPost.data.title }}</a></h2>
	<time class="featured-post-date" datetime="{{ latestPost.date | htmlDateString }}">{{ latestPost.date | readableDate }}</time>
	{%- if latestPost.data.tags %}
	<span class="postlist-tags featured-post-tags">
		{%- for tag in latestPost.data.tags %}
			{%- if tag != "posts" %}
			<span class="postlist-tag">{{ tag }}</span>
			{%- endif %}
		{%- endfor %}
	</span>
	{%- endif %}
	{{ latestPost.templateContent | safe }}
</article>
{% endif %}

