@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;600&display=swap");

:root {
  --amulya-red: #FF281B
}

body {
  font-family: "Kumbh Sans", Arial, sans-serif;
  background-color: #FBFBFB;
}

body.dark {
  background-color: #363636;
}

.container {
  width: 900px;
  margin: auto;
}

header {
  margin-top: 90px;
  overflow: auto;
}

h1 {
  color: var(--amulya-red);
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  float: left;
}

#toggle {
  float: right;
  margin-top: 29px;
}

#toggle:hover {
  cursor: pointer;
}


main {
  clear: both;
  color: #1F1F1F;
}

.dark main {
  color: #FFFFFF;
}

p {
  margin: 20px 0 0 0;
  font-size: 24px;
  font-weight: 300;
}

a {
  color: var(--amulya-red);
}

.sun {
  display: none;
}

.moon {
  margin-top: 3px;
  margin-right: 7px;
}

.dark .moon {
  display: none;
}

.dark .sun {
  display: block;
}