---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
<style>{% include "node_modules/prismjs/themes/prism-okaidia.css" %}</style>
<style>{% include "css/prism-diff.css" %}</style>
<h1>{{ title }}</h1>

<time class="featured-post-date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{%- set filteredTags = tags | filterTagList %}
{%- if filteredTags.length %}
<span class="postlist-tags featured-post-tags">
	{%- for tag in filteredTags %}
	<span class="postlist-tag">{{ tag }}</span>
	{%- endfor %}
</span>
{%- endif %}

{{ content | safe }}
